body{
    background-color: black;
    margin:0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}
.container {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
}
.text {
    color: black;
    border: white solid;
}
h1 {
    margin-bottom: 1em;
}
.scoreboard {
    background-image: url("basket.webp");
    background-size:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 130%;
    height: 130%;
    border-radius: 8px;
    border: 7px solid white;
    background-color: rgb(39, 119, 146);
    border: white solid;
}
.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 10px;
}
.one {
    position: relative;
    width: 18em;
    height: 10em;
    margin-bottom: 30px;
    background-color: #0c0c0c ;
}
.pts-shadow {
    font-family: monospace;
    font-size: 11em;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 52.5%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: black;
}
.pts {
    font-family: monospace;
    font-size: 11em;
    text-align: end;
    position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    margin-right: 37.2px;
    color: yellow;
}
.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    width: 18em;
}
button {
    cursor: pointer;
    width: 80px;
    height: 80px;
    color: white;
    font-size: 2em;
    border: 3px solid white;
    border-radius: 10px;
    background-color: black;
}
button:hover {
    color: black;
    background-color: lightskyblue;
}